body {
  background-color: #F6F4E8;
  font-family: 'Libre Baskerville', serif;
}

header {
  background-color: #E59560;
  color: #F6F4E8;
  border: 1px solid black;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

main {
  background-color: #BACEC1;
  text-align: center;
}

section {
  background-color: #F6F4E8;
}

article {
  background-color: #F6F4E8;
  text-align: justify;
  border: 1px solid black;
  border-radius: 25px;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
}

aside {
  background-color: #1D3124;
  color: #F6F4E8;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
}

footer {
  background-color: #E59560;
  color: #F6F4E8;
  font-size: 1.2rem;
}

nav a {
  font-size: 1.2rem;
  margin: 0 1vw;
}

h1, .section-bottom h2, nav, footer, article, main {
  padding: 1vh 1vw;
}

h1, h2, nav, footer {
  text-align: center;
}

section.section-bottom img {
  display: inline-block;
}

img.dalmatian {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  width: 100%;
}

img.football {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
}

a {
  color: #F6F4E8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section.section-top {}

img.sunny:hover {
  border: 1px solid black;
  border-radius: 25px;
}

img.half-cloudy:hover {
  border: 1px solid black;
  border-radius: 25px;
}

img.cloudy:hover {
  border: 1px solid black;
  border-radius: 25px;
}

img.rainy:hover {
  border: 1px solid black;
  border-radius: 25px;
}

img.lightning:hover {
  border: 1px solid black;
  border-radius: 25px;
}

@media screen and (min-width: 600px) {
  section.section-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

form {
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 600px;
}

label {
  margin: 1vh 1vw 0 0;
}

input, select, textarea {
  margin: 0 1vw 0 1vw;
}

legend {
  font-weight: bold;
}

@media (min-width: 600px) {
  form {
    grid-template-columns: 1fr 3fr;
  }

  legend {
    grid-column: 1;
    text-align: right;
  }

  label {
    grid-column: 1;
    text-align: right;
    margin: 1vh 1vw;
  }

  input, select, button {
    grid-column: 2/-1;
    margin: 1vh 1vw;
  }

  input {
    padding: 20px;
    margin: 15px;
  }

  button {
    margin: 10px;
    padding: 20px;
  }
}